@import "./variables";

.slider {
    grid-area: slider;
    margin-bottom: 105px;
    position: relative;

    .banner {
        width: 100%;
        object-fit: cover;
    }

    .rectangles {
        display: flex;
        justify-content: center;
        gap: 20px;

        li {
            cursor: pointer;
        }

        li::marker {
            color: $slider-color;
            font-size: 34px;
        }

        .active::marker {
            color: $slider-color-active;
        }
    }
}

@media screen and (max-width: 414px) {
    .slider {
        margin-bottom: 20px;
    }
}